body
{
    background-color: #434343;
    font-family:Arial;
}

#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #434343;
}

a:visited{
    color: inherit;
    text-decoration: none;
}

#infoTable{
    margin-top: 15px;
    background-color: #8e9991;
}

#infoTable td, #infoTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.rectangle
{
    width: 1000px;
    height: 100px;
    margin-bottom: 10px;
    background-color: #8e9991;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 1em grey;
}

#logout
{
    float: right;
    margin-right: 20px;
    margin-top: 40px;
}

#logo
{
    margin-top: 10px;
    padding-left: 20px;
    float: left;
}

.square
{
    width: 50%;
    background-color: #434343;
    float: left;
}

.tile
{
    background-color: #8e9991;
    width: 230px;
    height: 170px;
    float: left;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 1em grey;
}

.tile:hover
{
    background-color: #7a9587;
}

.hello
{
    padding-top: 40px;
    font-size: 36px;
    text-align: center;
}

.yt
{
    background-color: #d94348;
    width: 70px;
    height: 80px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

.ig
{
    background-image: linear-gradient(to top right, red, yellow);
    width: 70px;
    height: 80px;
    float: left;
}

.git
{
    background-color: #ffffff;
    width: 70px;
    height: 75px;
    float: left;
    margin-right: 10px;
    border-style: solid;
}

.footer
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#successInfo
{
    display: none;
}

.invalid-feedback{
    font-size: 18px;
    text-align: left;
    color: red;
}