
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-list-alt:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-git-squared:before { content: '\f1d2'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */