<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Train with me!</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="fontello-846899ce/css/fontello.css">
</head>
<body>

<div id="container">
    <div class="rectangle">
        <a href="hello"><img src="bic.png" id="logo"></a>
        <div style="margin-left: 200px;  float: left;">
            <h1>Come and train with me!</h1>

        </div>
    </div>

    <center style="height: 360px; margin-top: 30px;">
        <form name='f' th:action="@{/login}" method='post' style="padding-top: 50px;">
            <table>
                <tr>
                    <td style="font-size: 30px;">Username:</td>
                    <td><input style="height: 30px;" type='text' name='username' value=''></td>
                </tr>
                <tr>
                    <td style="font-size: 30px;">Password:</td>
                    <td><input style="height: 30px;" type='password' name='password' /></td>
                </tr>
                <tr>
                    <td colspan="2"><input style="margin-left:100px; margin-top: 10px; height: 36px; font-size: 24px;" name="submit" type="submit" value="Submit" /></td>
                </tr>
            </table>
        </form>
    </center>

    <div style="clear: both;"></div>
    <div class="square">
        <div class="yt"><a href="https://www.youtube.com/channel/UCSCUhYRfuqvas6lF1KVl0-A" target="_blank">
            <i class="icon-youtube"></i></a>
        </div>

        <div class="git">
            <a href="https://github.com/jkaczano" target="_blank"><i class="icon-git-squared"></i></a>
        </div>

        <div class="ig">
            <a href="https://www.instagram.com/predzej.martwy.niz.slaby/" target="_blank"><i class="icon-instagram"></i></a>
        </div>
    </div>
    <div style="clear: both;"></div>
    <div class="footer">Created by Jacek Kaczanowski &copy;</div>
</div>
</body>
</html>